<form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup)">
<div>
  <input type="text" formControlName="firstName" placeholder="first name">
  <label style="color:tomato;" 
    *ngIf= "formGroup.get('firstName').invalid && formGroup.get('firstName').invalid && formGroup.get('firstName').touched &&
     formGroup.get('firstName').errors['required']">Required</label>
     <label style="color:tomato;" 
    *ngIf= "formGroup.get('firstName').invalid && formGroup.get('firstName').invalid && formGroup.get('firstName').touched &&
     formGroup.get('firstName').errors['minlenght']">min is 3</label>
  <br><br>
  <input type="text" formControlName="lastName" placeholder="last name">
  <label style="color:tomato;" 
    *ngIf= "formGroup.get('lastName').invalid && formGroup.get('lastName').invalid && formGroup.get('lastName').touched &&
     formGroup.get('firstName').errors['required']">Required.</label>
     <label style="color:tomato;" 
    *ngIf= "formGroup.get('lastName').invalid && formGroup.get('lastName').invalid && formGroup.get('lastName').touched &&
     formGroup.get('firstName').errors['minlenght']">min is 3</label>
  <br><br>
  <input type="text" formControlName="email" placeholder="e Mail">
  <label style="color:tomato;" 
  *ngIf= "formGroup.get('email').invalid && formGroup.get('email').touched">email is invalid</label>
  <br><br>
  <input type="number" min="0" max="99" formControlName="age" placeholder="Age">
</div>
<br><button>submit</button>
</form>